* {
    color: whitesmoke;
    font-family: 'Poiret One', cursive;
}
.slider img {
    border-top: 1px solid white;
    margin-bottom: 30px;
}
.slider {
    margin-bottom: 20px;
}
body {
    background: #141414;
}


/* // ----- NAVBAR ----- // */
.navContainer {
    width: 80%;
    margin: auto;
}
.name {
    font-size: 35px;
    font-family: 'Poiret One', cursive;
}


/* // ----- LANDING PAGE ----- // */
.landingpage {
    width: 50%;
    margin: auto;
    margin-bottom: 10rem;
    text-align: center;
}
.landingpage h1 {
    font-size: 65px;
}
.introduction {
    margin-bottom: 75px;
}


/* // ----- ABOUT SECTION ----- // */
#aboutContainer,
#contactContainer,
#portContainer {
    width: 75%;
    margin: auto;
    text-align: center;
}
.icon {
    margin: 5px;
    margin-bottom: 50px;
}
.bio {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}
#aboutContainer img {
    margin-bottom: 30px;
}
#aboutContainer {
    margin-bottom: 10rem;
}


/* // ----- CONTACT SECTION ----- // */
.phone,
.email,
.resume,
.linkedIn,
.github {
    font-size: 35px;
}
.linkedIn, 
.github,
.resume {
    margin-bottom: 20px
}
.number,
.Email {
    font-size: 20px;
    margin-bottom: 20px;
}
.contactContainer {
    margin-bottom: 10rem;
}


/* // ----- PORTFOLIO SECTION ----- // */
#portContainer {
    width: 60%;
    margin: auto;
    text-align: center;
}
#portContainer p {
    color: black;
    font-size: 20px
}
#portContainer a {
    font-size: 30px;
}
#portContainer h1 {
    margin-bottom: 45px;
}